Language:	                        Cpp
BasedOnStyle:                       Google
IndentWidth:	                    4
AccessModifierOffset:	            -4
AllowShortFunctionsOnASingleLine:	Empty
TabWidth:	                        4
UseTab:	                            Never
ColumnLimit:	                    100
