Language:	                        Cpp
BasedOnStyle:                     LLVM
IndentWidth:	                    4
AccessModifierOffset:	            -4
AllowShortFunctionsOnASingleLine:	Empty
TabWidth:	                        4
UseTab:	                          Never
PointerAlignment:	                Left
ColumnLimit:	                    120
AlwaysBreakTemplateDeclarations:	true
BreakStringLiterals:              false
IndentCaseLabels:	                false
IndentWrappedFunctionNames:	      true
MaxEmptyLinesToKeep:	            1
AllowShortEnumsOnASingleLine:     false